:root{
    --primary: #fff;
}
.btn{
    padding: 8px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn--outline{
    background: transparent;
    border: 1px solid var(--primary);
    border-radius: 3px;
    color: var(--primary);
}

.btn--primary{
    background: #fff;
    border: 1px solid var(--primary);
    color: #242424;
    border-radius: 3px;
}

.btn--medium{
    padding: 13px 20px;
    font-size: 18px;
}

.btn--large{
    padding: 15px 23px;
    font-size: 22px;
}

.btn--medium:hover, .btn--large:hover{
    background: #fff;
    color: #242424;
    transition: all .2s ease-out;
}