*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Cities */
.city__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
}

.city__header{
    width: 60%;
    margin: auto;
    padding: 20px;
}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    padding-top: .5rem;
}

hr{
    margin-bottom: 27px;
}

.slide-img{
    margin: -1px;
}

.slide-img > img{
    object-fit: cover;
    height: 500px;
    outline: none;
    border: 1px solid aliceblue;
    border-radius: 2px;
    width: 100%;
}
.slider{
    margin: auto;
    box-shadow: 1px 2px 4px 1px #434441;
    --webkit-filter: drop-shadow(1px 2px 4px 1px #434441);
    filter: drop-shadow(1px 2px 4px 1px #434441); 
    width: 66%;
}

p{
    padding: 2rem;
    width: 66%;
    margin: auto;
    line-height: 1.5;
}

/* Description */

.city__main__description{
    display: flex;
    background-color:rgb(228, 222, 222);
    padding: 1rem;
    justify-content: space-between;
}

.city__main__wrapper > h2{
    text-align: center;
    font-size: 2.7rem;
}

.sub__info__wrapper{
    padding: 1.6rem;
}

.sub__info__wrapper > h3{
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

.sub__info__wrapper > img.description__img{
    width: 450px;
    height: 278px;
    outline: none;
    border: 1px solid aliceblue;
    border-radius: 2px;
    object-fit: cover;
}

.sub__info__wrapper > ul{
    margin-left: 18px;
    padding: 1rem 3rem;
    line-height: 1.5;
    font-size: 1.1rem;
}

/* Services */
.services{
    width: 100%;
    background: honeydew;
}

.services__container{
    width: 100%;
    padding: 10px;
}

.services__container__description{
    line-height: 1.7;
    width: 50%;
}

.services__container__list{
    width: 100%;
    margin-top: .3rem;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__container__list > h2 {
    text-align: center;
    font-size: 2.7rem;
}

.services__container__list > ul {
    margin: 1%;
}

ul > li{
    line-height: 2;
    font-size: 1.3rem;
    font-weight: 200;
}